body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

.hover-grow { 
  transition: all .2s ease-in-out; 
}

.hover-grow:hover { 
  transform: scale(1.025); 
  }

.hover-grow-large { 
transition: all .2s ease-in-out; 
cursor: pointer;
}

.hover-grow-large:hover { 
transform: scale(1.25); 
}

.hover-grow-large-rotated {
transition: all .2s ease-in-out; 
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
}

.hover-grow-large-rotated:hover {
  -webkit-transform:rotate(180deg)  scale(1.25);
  -moz-transform: rotate(180deg)  scale(1.25);
  -ms-transform: rotate(180deg)  scale(1.25);
  -o-transform: rotate(180deg)  scale(1.25);
  transform: rotate(180deg) scale(1.25);
}